@use 'base/variables' as v;
@use 'base/mixins' as m;

.redes {
    @include m.contenedorXL;
    margin: 0 auto;
    text-align: center;

    .contenido-redes {
        display: grid;
        grid-template-columns: 50% 50%;
        justify-items: center;
        margin: 2.5rem 0;
    }

    .btn {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px #F7F7F8 solid;
        border-radius: 1rem;
        background-color: white;
        width: 100%;
        padding: 3rem 0;
        margin-bottom: 2.5rem;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

        .whatsapp { color: v.$verde; }

        .outlook { color: v.$azul; }

        svg { margin: auto 0; }

        p { 
            margin: 0;
            padding-left: 1rem;
        }
    }

    .btn:last-child {
        margin-bottom: 0
    }

    a {
        width: 4rem;
        height: 4rem;
    }

    @include m.tablet {
        @include m.contenedor;
    }
}


.contenedor-boletos {

    h3 {
        color: v.$negro;
    }

    .boletos {
        margin: 0 auto;
        width: 80%;
        @include m.tablet {
            @include m.grid(2);
            width: 50%;
        }
    }
}

.pase {
    transition: transform .3s ease-in-out;
    border: 1px #F7F7F8 solid;
    border-radius: 2rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    &:hover {
        transform: scale(1.05);
    }

    &-nombre {
        font-size: 3.6rem;
        font-weight: 900;
        text-align: center;
        color: v.$negro;
    }

    &-header,
    &-footer {
        padding: .5rem;

        p {
            text-align: center;
            color: v.$blanco;
            margin: 0;
        }
    }

    &-header {
        background-color: v.$rosa;
        p {
            padding: 1rem 0;
            text-transform: uppercase;
            font-size: 2.2rem;
        }
    }

    &-body {
        background-color: v.$blanco;
        ul {
            @include m.resetear-lista;
            li {
                padding: 2rem;
                border-bottom: 1px solid #e1e1e1;
            }
        }

    }

    &-footer {
        background-color: v.$blanco;
        padding: 3rem;
        p {
            font-size: 2rem;
            font-weight: 900;
            background-color: v.$azul;
            border-radius: 0.5rem;
            padding: 1rem 0;
            cursor: pointer;
            &:hover {
                background-color: darken(v.$azul, 20%);
            }
        }
    }
}