@use 'base/variables' as v;
@use 'base/mixins' as m;

a {
    color: v.$negro;
}

.header {
    margin: 0 auto;
    width: 50%;
    padding: 3rem 0 4rem 0;
    .contenido-header{
        display: grid;
        grid-template-columns: 33.3% 66.6%;
        h1{
            font-size: 2.5rem;
            text-align: left;
            margin: auto 0;
        }
        img {
            height: 5rem;
            width: 5rem;
            justify-content: right;
            margin: 1rem;
        }

        @include m.tablet {
        display: flex;
        justify-content: center;
        }
    }
}

.header-index {
    background-color: v.$rosa;

    .logo {
        display: flex;
        margin-bottom: 2rem;
        align-items: center;
        justify-content: space-between;
        @include m.tablet {
            margin: 0;
        }
    }

    @include m.tablet {
        &.fixed {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            box-shadow: .1rem .2rem .3rem #333;
        }
    }

    .contenido-header {
        padding: 1rem 2rem;
        @include m.tablet {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }

    h1 {
        color: v.$blanco;
        text-align: center;
        @include m.tablet {
            text-align: right;
            margin: 0 0 0 1rem;
            font-size: 4rem;
        }
    }

    img {
        height: 5rem;
        width: 5rem;
        justify-content: right;
        margin: 1rem;
        margin: 0;
    }
}

.navegacion-principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    @include m.tablet {
        flex-direction: row;
    }

    a {
        color: v.$blanco;
        font-size: 2.4rem;

        &:hover,
        &.active {
            color: v.$amarillo;
        }
    }
}