@use 'base/variables' as v;
@use 'base/mixins' as m;


.contenido-principal {
    width: 70%;
    margin: 0 auto;
    padding-bottom: 4rem;

    a {
        display: flex;
        justify-content: center;
        border: 1px #F7F7F8 solid;
        border-radius: 1rem;
        background-color: white;
        width: 100%;
        padding: 1rem 0;
        margin-bottom: 2rem;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

        .whatsapp { color: v.$verde; }

        .outlook { color: v.$azul; }

        svg { margin: auto 0; }

        p { 
            margin: 0;
            padding-left: 1rem;
        }
    }

    a:last-child {
        margin-bottom: 0
    }

    @include m.desktop {
        @include m.contenedor;
    }
}