@use 'base/variables' as v;
@use 'base/mixins' as m;

.nosotros {
    @include m.contenedorXL;

    @include m.tablet {
        @include m.grid(2, 5rem);
        .imagen {
            transition: transform .3s ease-in-out;
            margin: auto 0;
            &:hover {
                transform: scale(1.05);
            }
        }
    }
}

.contenido-nosotros {
    margin-top: 3rem;

    h2 {
        margin-bottom: 2rem;
    }

    .fecha {
        color: v.$verde;
        font-weight: 700;
    }
}