@use 'base/variables' as v;
@use 'base/mixins' as m;

.contenido-servicio {
    margin: 0 auto;
    width: 70%;
    padding: 0 0 1rem 0;

    h2 {
        margin-bottom: 1rem;
    }

    td {
        font-size: 1.5rem;
    }

    table {
        width: 100%;

        .precio {
            width: 3.5rem;
        }
    }
    @include m.desktop {
        @include m.contenedor;
        padding: 0 0 4rem 0;
    }
}